<%- include('partials/header') %> 
    <section class="container-fluid">
        
            <h1 class="display-1 text-center">My Manga List</h1>
          
        <div class="row">
            <div class="col">
                <h2 class="text-center">Title</h2>
            </div>
            <div class="col">
                <h2 class="text-center">Volumes</h2>
            </div>
            <div class="col">
                <h2 class="text-center">Finished/Ongoing</h2>
            </div>
            <div class="col">
                <h2 class="text-center">Delete</h2>
            </div>
        </div>
        <% //for (var i = 0; i < mangalist.length; i++) { %>
            <% //Object.keys(mangalist).forEach( el => {%> 
            <% mangas.forEach( (el)=> {%> 
        <div class="row manga-table striped" data-id='<%= el._id %>'>
            <div class="col">
                <p class="text-center"><%= el.title %></p>
            </div>
            <div class="col">
                <p class="text-center">#<%= el.volumes %></p>
            </div>
            <div class="col">
                <p class="text-center"><%= el.completed %></p>
            </div>
            <div class="col ">
                <span  class="btn btn-danger del">Delete</span>
            </div>
        </div>
        <% }) %>
    </section> 
    
    <section class="container mt-5">
        <form action="/mangalist" method="POST">
            <div class="row">
                <div class="col-md-3">
                    <input type="text" class="form-control" id="manga-title" name="mangatitle"placeholder="Title">
                </div>
                <div class="col-md-3">

                    <input type="text" class="form-control" id="manga-volumes" name="mangavolumes" placeholder="Volumes">
                </div>
                <div class="col-md-3">
                    <label class="form-check-label"for="manga-completed">

                        <!-- <input type="checkbox" class="form-check-input" id="manga-completed" name="mangacompleted"> -->
                        <select name="mangacompleted" class="form-select" id="manga-completed">
                            <option value="">--choose--</option>
                            <option value="finished">Finished</option>
                            <option value="ongoing">Ongoing</option>
                        </select>
                    </label>
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </section>
    <%- include('partials/footer') %>